<!--==========================
      Contact Section
    ============================-->
<section id="contact" class="section-bg wow fadeInUp">
  <div class="container">

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="icon-map-marker1 h4 pr-3"></i>
          <h3 class="d-inline">Address</h3>
          <address>Antigua and Barbuda Science and Innovation Park,<br />
            Burma Road, Coolidge, Antigua W.I.</address>

          <address>{{ site.address }}</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="icon-phone1 h4 pr-3"></i>
          <h3 class="d-inline">Phone Number</h3>
          <p>
            <a href="tel:{{ site.phone }}"> +{{ site.phone }}</a>
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="icon-mail h4 pr-3"></i>
          <h3 class="d-inline">Email</h3>
          <p>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </p>
        </div>
      </div>

    </div>

    <iframe data-tally-src="https://tally.so/embed/w25LNj?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="416" frameborder="0" marginheight="0" marginwidth="0" title="Cyber Hawk Contact Form"></iframe>
    <script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
    
  </div>
</section>
<!-- #contact -->