<footer id="footer" class="dark">
  <div class="container">
    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap pb-4 clearfix">
      <div class="row">
        <div class="col-md-4 col-sm-6 mb-0 mb-sm-4 mb-md-0">
          <div class="widget clearfix">
            <h4>About Cyberhawk Solutions</h4>

            <p>
              We believe in Simple, Creative &amp; Flexible Design Standards.
            </p>

            <div
              style="background: url('images/world-map.png') no-repeat left center; background-size: auto 100%;"
            >
              <address>
                <strong>Headquarters:</strong><br />
                #344 US CIS Base, Burma Road,<br />
                St. Georges, Antigua W.I.<br />
              </address>
              <abbr title="Phone Number"><strong>Phone:</strong></abbr> +! 268
              764-8480<br />
              <abbr title="Email Address"><strong>Email:</strong></abbr>
              info@cyberhawksolutions.com
            </div>
          </div>
        </div>

        <!--<div class="col-md-3 col-6 mt-5 mt-sm-0">

          <div class="widget clearfix">

            <h4>Features</h4>

            <ul class="list-unstyled iconlist ml-0">
              <li><a href="http://codex.wordpress.org/">Documentation</a></li>
              <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
              <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
              <li><a href="http://wordpress.org/support/">Support Forums</a></li>
              <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
              <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
              <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
            </ul>

          </div>

        </div>-->

        <!-- <div class="col-md-3 col-6 mt-5 mt-sm-0">

          <div class="widget clearfix">

            <h4>Social</h4>

            <ul class="list-unstyled iconlist">
              <li><i class="icon-facebook"></i><a href="http://facebook.com/semicolonweb" target="_blank"> Facebook</a></li>
              <li><i class="icon-twitter"></i><a href="http://twitter.com/__semicolon" target="_blank"> Twitter</a></li>
              <li><i class="icon-instagram"></i><a href="http://instagram.com/semicolonweb" target="_blank"> Instagram</a></li>
              <li><i class="icon-youtube"></i><a href="https://www.youtube.com/user/shank20121/videos" target="_blank"> YouTube</a></li>
              <li><i class="icon-xing"></i><a href="http://cyberhawksolutions.com/pricing"> Xing</a></li>
              <li><i class="icon-github"></i><a href="http://cyberhawksolutions.com/pricing"> Github</a></li>
            </ul>

          </div>

        </div>-->

        <!--<div class="col-md-2 col-sm-6 mt-4 mt-sm-0">

          <div class="widget clearfix">

            <h4>Support</h4>

            <ul class="list-unstyled iconlist ml-0">
              <li><a href="http://cyberhawksolutions.com/pricing">Help Center</a></li>
              <li><a href="http://cyberhawksolutions.com/pricing">Paid with Mollie</a></li>
              <li><a href="http://cyberhawksolutions.com/pricing">Status</a></li>
              <li><a href="http://cyberhawksolutions.com/pricing">Changelog</a></li>
              <li><a href="http://cyberhawksolutions.com/pricing">Contact Support</a></li>
            </ul>

          </div>

        </div>-->
      </div>
    </div>
    <!-- .footer-widgets-wrap end -->

    <div class="line line-sm m-0"></div>
  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights" class="nobg">
    <div class="container clearfix">
      <div class="col_half">
        Copyrights &copy; 2019 All Rights Reserved by Cyberhawk Solutions.<br />
        <div class="copyright-links">
          <a href="http://goc.pjaguar.com"
            >Project Jaguar Fulfillment Partner</a
          >
        </div>
      </div>

      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links clearfix">
          <!--<a href="http://cyberhawksolutions.com/pricing">Home</a>/<a href="http://cyberhawksolutions.com/pricing">About Us</a>/<a href="http://cyberhawksolutions.com/pricing">Team</a>/<a href="http://cyberhawksolutions.com/pricing">Clients</a>/<a href="http://cyberhawksolutions.com/pricing">FAQs</a>/<a href="http://cyberhawksolutions.com/pricing">Contact</a>
        --></div>
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
<!-- #footer end -->
