{% if page.layout == "home" %}
<!-- {% for slide in page.slides %}
      <img src="{{ slide.src }}">
    {% endfor %} -->

<!-- Slider
		============================================= -->
<section id="slider" class="slider-element bg-angle">
  <!-- Slider Background Map
			============================================= -->
  <img
    class="img-map parallax"
    src="assets/hosting/images/svg/map-light.svg"
    alt=""
    data-0="opacity: 0.05;margin-top:0px"
    data-800="opacity: 0.5;margin-top:150px"
  />

  <!-- Slider Background Cloud
			============================================= -->
  <div class="cloud-wrap">
    <div class="c1"><div class="cloud"></div></div>
    <div class="c2"><div class="cloud"></div></div>
    <div class="c3"><div class="cloud"></div></div>
    <div class="c4"><div class="cloud"></div></div>
    <div class="c5"><div class="cloud"></div></div>
  </div>

  <!-- Slider Titiles
			============================================= -->
  <div class="vertical-middle ignore-header dark">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-5">
          <div class="slider-title">
            <h2
              class="text-white text-rotater mb-3"
              data-separator=","
              data-rotate="fadeIn"
              data-speed="3500"
            >
              Custom software for<br />
              <span class="t-rotate text-white">Government & Public Sector,Healthcare & Pharma,Education & Training,Legal & Compliance,Logistics & Operations</span>
            </h2>
            <p style="color: rgba(255,255,255,0.85);">
              Customized to suit your vision, budget, and goals.
            </p>
          </div>
          <a
            href="https://portal.cyberhawksolutions.com/project-request/new"
            class="button bg-white color button-rounded button-large ml-0"
            target="_blank"
            >Get a free estimate</a>
          <a
            href="https://calendly.com/cyberhawksolutions/projects"
            class="button button-border border-white text-white button-rounded button-large"
            target="_blank"
            style="margin-top: 12px;"
            >Book a call <i class="icon-line-arrow-right t600"></i
          ></a>
        </div>
        <div class="col-md-5 d-none d-md-block">
          <img src="/assets/hosting/images/3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #slider end -->

{% else %}
<!-- <div id="banner">
  <div class="h-100 d-flex justify-content-center" data-bs-parallax-bg="true" style="background-image:url('{{ page.hero-img }}');background-position:center;background-size:cover;">
    <h1 class="align-self-center text-center text-light"> {{ page.title }} </h1>
  </div>
</div> -->
{% endif %}
