<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header dark" data-sticky-class="not-dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="#" class="standard-logo" data-dark-logo="assets/images/logo-white.png"><img src="assets/images/logo-gradient.png"
            alt="CyberHawk Logo"></a>
        <a href="#" class="retina-logo" data-dark-logo="assets/images/logo-white.png"><img src="assets/images/logo-gradient.png"
            alt="CyberHawk Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="not-dark with-arrows">

        <ul class="not-dark">
          <li class="current"><a href="http://cyberhawksolutions.com">
              <div>Home</div>
            </a></li>
          <li class="mega-menu"><a href="http://cyberhawksolutions.com/services">
              <div>Services</div>
            </a>
            <!-- Mega Menu Content
            ============================================= -->
            <div class="mega-menu-content style-2 border-top-0 clearfix">
              <!-- Mega Menu Col 1 -->
              <ul class="mega-menu-column col-lg-3">
                <li>
                  <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                    <div class="fbox-icon">
                      <img src="assets/hosting/images/svg/web.svg" class="noradius nobg tleft" alt=""
                        style="width: 52px;">
                    </div>
                    <h3 class="t500"><a href="http://cyberhawksolutions.com/services">Website Designing</a></h3>
                    <p class="d-none d-lg-block mb-0 t300">Get your beautiful webesite designed and brought to life. We
                      will make it accessible via the World Wide Web!</p>
                    <a href="http://cyberhawksolutions.com/services" class="btn btn-link mt-2 color p-0">Learn More
                      &#8250;</a>
                  </div>
                </li>
              </ul>
              <!-- Mega Menu Col 2 -->
              <ul class="mega-menu-column col-lg-3">
                <li>
                  <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                    <div class="fbox-icon">
                      <img src="assets/hosting/images/svg/cloud.svg" class="noradius nobg tleft" alt=""
                        style="width: 52px;">
                    </div>
                    <h3 class="t500"><a href="http://cyberhawksolutions.com/services">Database Management</a></h3>
                    <p class="d-none d-lg-block mb-0 t300">Protect your customers data and operate your online business
                      with an ease-of-mind.</p>
                    <a href="http://cyberhawksolutions.com/services" class="btn btn-link mt-2 color p-0">Learn More
                      &#8250;</a>
                  </div>
                </li>
              </ul>
              <!-- Mega Menu Col 3 -->
              <ul class="mega-menu-column col-lg-3">
                <li>
                  <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                    <div class="fbox-icon">
                      <img src="assets/hosting/images/svg/dedicated.svg" class="noradius nobg tleft" alt=""
                        style="width: 52px;">
                    </div>
                    <h3 class="t500"><a href="http://cyberhawksolutions.com/services">Website Hosting</a></h3>
                    <p class="d-none d-lg-block mb-0 t300">Get a catchy domain and a place to store your website in one
                      package with full control. We'll do all the hard work and acquisition for you.</p>
                    <a href="http://cyberhawksolutions.com/services" class="btn btn-link mt-2 color p-0">Learn More
                      &#8250;</a>
                  </div>
                </li>
              </ul>
              <!-- Mega Menu Col 4 -->
              <ul class="mega-menu-column col-lg-3">
                <li>
                  <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                    <div class="fbox-icon">
                      <img src="assets/hosting/images/svg/shared.svg" class="noradius nobg tleft" alt=""
                        style="width: 52px;">
                    </div>
                    <h3 class="t500"><a href="http://cyberhawksolutions.com/services">Graphic Designing</a></h3>
                    <p class="d-none d-lg-block mb-0 t300">You need to connect with your audience using your brand. Get
                      Top designers creating your logo and branding #TheCyberhawkWay</p>
                    <a href="http://cyberhawksolutions.com/services" class="btn btn-link mt-2 color p-0">Learn More
                      &#8250;</a>
                  </div>
                </li>
              </ul>
            </div>
          </li>


          <li><a>
              <div>Pricing</div>
            </a>
            <ul>
              <li><a href="http://cyberhawksolutions.com/pricing">
                  <div>Websites</div>
                </a></li>
              <li><a href="http://cyberhawksolutions.com/pricing">
                  <div>iOS & Android Apps</div>
                </a></li>
            </ul>
          </li>

          <li><a href="http://cyberhawksolutions.com/portfolio">
              <div>Showcase</div>
            </a>

            <!-- <ul>
              <li><a>
                  <div>Small Websites</div>
                </a>
                <ul>

                  <li><a href="http://mheights.house">
                      <div>Majestic Heights - Real Estate</div>
                    </a></li>
                  <li><a href="http://environmenttourismconsulting.com">
                      <div>Environment Tourism Consulting</div>
                    </a></li>
                  <li><a href="http://edgile.info">
                      <div>EDGILE Software - USA</div>
                    </a></li>
                  <li><a href="http://nadisapp.org">
                      <div>NADIS (Disaster Prevention)</div>
                    </a></li>
                  <li><a href="http://goc.pjaguar.com">
                      <div>Project Jaguar GOC</div>
                    </a></li>
                  <li><a href="http://quik-serve.com">
                      <div>QuikServe</div>
                    </a></li>
                </ul>
              </li>
              <li><a>
                  <div>Large Websites</div>
                </a>
                <ul>
                  <li><a href="http://abiit.edu.ag">
                      <div>Antigua & Barbuda International Institute of Technology (ABIIT) </div>
                    </a></li>
                  <li><a href="https://abiitcentral.wordpress.com/">
                      <div>ABIIT Central - Student Blog </div>
                    </a></li>
                  <li><a href="http://entrepeneloper.com">
                      <div>Entrepeneloper Community </div>
                    </a></li>
                  <li><a href="http://mindaz.asia">
                      <div>MindAmaze for Singapore</div>
                    </a></li>
                  <li><a href="http://pjaguar.com">
                      <div>Project Jaguar Intl.</div>
                    </a></li>
                  <li><a href="http://web.pjaguar.com">
                      <div>Project Jaguar Web</div>
                    </a></li>
                </ul>
              </li>
              <li><a>
                  <div>Android/iOS Apps</div>
                </a>
                <ul>

                  <li><a href="#">
                      <div>QuikServe App</div>
                    </a></li>
                  <li><a href="#">
                      <div>Project Jaguar App</div>
                    </a></li>
                  <li><a href="#">
                      <div>ABIIT Student App</div>
                    </a></li>
                </ul>
              </li>
            </ul> -->

          </li>

        </ul>

        <!-- Top Search
        ============================================= -->
        <a href="http://cyberhawksolutions.com/contact"
          class="button bg-white text-dark button-light button-rounded color">Contact</a>

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->