<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header dark" data-sticky-class="not-dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="/assets/images/logo-white.png"><img src="/assets/images/logo-gradient.png"
            alt="CyberHawk Logo"></a>
        <a href="/" class="retina-logo" data-dark-logo="/assets/images/logo-white.png"><img src="/assets/images/logo-gradient.png"
            alt="CyberHawk Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="not-dark with-arrows">

        <ul class="not-dark">
          <li{% if page.url == "/" %} class="current"{% endif %}><a href="/">
              <div>Home</div>
            </a></li>

          <li{% if page.url contains "/services" %} class="current"{% endif %}><a href="/services">
              <div>Services</div>
            </a></li>

          <li{% if page.url contains "/products" %} class="current"{% endif %}><a href="/products">
              <div>Products</div>
            </a></li>

          <li{% if page.url contains "/portfolio" or page.url contains "/work" %} class="current"{% endif %}><a href="/portfolio">
              <div>Projects</div>
            </a></li>

          <li{% if page.url contains "/blog" or page.layout == "post" %} class="current"{% endif %}><a href="/blog">
              <div>Blog</div>
            </a></li>

        </ul>

        <!-- Get Started CTA
        ============================================= -->
        <a href="https://portal.cyberhawksolutions.com/project-request/new"
          class="button button-rounded bgcolor"
          target="_blank" rel="noopener noreferrer">Start your project</a>

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
