<!-- Features Section
  ============================================= -->
<div class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
  <h2 >We know what you need.</h2>
  <p > Expertly developed software, creative designs and the techinical team to grow your businesses.</p>
</div>
<div class="clear"></div>
<div class="row mt-4 clearfix">
  <div class="col-lg-4 col-md-6 mb-5">
    <div class="feature-box not-dark fbox-small">
      <div class="fbox-icon">
        <img src="assets/hosting/images/svg/web.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
      </div>
      <h3 class="t500 text-dark">Website hosting, management & Network Engineering</h3>
      <p class="t300">Get stable, professional hosting and management in one package with full control for
        flexibility. </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-5">
    <div class="feature-box not-dark fbox-small">
      <div class="fbox-icon">
        <img src="assets/hosting/images/svg/cloud.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
      </div>
      <h3 class="t500 text-dark">Website Designing</h3>
      <p class="t300">Get your beautiful, functional webesite designed and brought to life. We will also make
        it
        accessible via the World Wide Web!</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-5">
    <div class="feature-box not-dark fbox-small">
      <div class="fbox-icon">
        <img src="assets/hosting/images/svg/dedicated.svg" class="noradius nobg tleft" alt=""
          style="height: 52px;">
      </div>
      <h3 class="t500 text-dark">Hardware Repair</h3>
      <p class="t300">Is your computer, printer or other machine experiencing hardware or software problems?
        Our
        specialists are here.</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="feature-box not-dark fbox-small mb-5">
      <div class="fbox-icon">
        <img src="assets/hosting/images/svg/shared.svg" class="noradius nobg tleft" alt=""
          style="height: 52px;">
      </div>
      <h3 class="t500 text-dark">Cyber Security</h3>
      <p class="t300">Make your connection to the Internet safer with our security enhancement for your
        existing/new
        website.</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="feature-box not-dark fbox-small mb-5">
      <div class="fbox-icon">
        <img src="assets/hosting/images/svg/domain.svg" class="noradius nobg tleft" alt=""
          style="height: 52px;">
      </div>
      <h3 class="t500 text-dark">Domain Registration</h3>
      <p class="t300">Get a domain for your website with full control for flexibility. We'll do all the hard
        work
        and acquisition for you.</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="feature-box not-dark fbox-small mb-5">
      <div class="fbox-icon">
        <img src="assets/hosting/images/svg/activation.svg" class="noradius nobg tleft" alt=""
          style="height: 52px;">
      </div>
      <h3 class="t500 text-dark">SSL Verification</h3>
      <p class="t300">We'll get you an SSL certificate for legitimacy of your company's online presence.</p>
    </div>
  </div>
</div>